<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content="Sign up page of E-Learn-Shell project">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    <title>{{ page_title }}</title>
  </head>
  
  <body>
    {% include 'menu.html' %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-6 mb-3">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-6 mb-3">
                <div>
                    <h2>Регистрация нового пользователя</h2>
                </div>
            <form action="{{ url_for('users.process_reg') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group mb-3">
                    {{ form.username.label }}
                    {{ form.username() }}
                </div>
                <div class="form-group mb-3">
                    {{ form.fio.label }}
                    {{ form.fio() }}
                </div>
                <div class="form-group mb-3">
                    {{ form.password.label }}
                    {{ form.password() }}
                </div>
                <div class="form-group mb-3">
                    {{ form.password2.label }}
                    {{ form.password2() }}
                </div>
                <div class="form-group mb-3">
                    {{ form.company.label }}
                    {{ form.company }}
                </div>
                <div class="form-group mb-3">
                    {{ form.position.label }}
                    {{ form.position() }}
                </div>
                <div class="form-group mb-3">
                    {{ form.date_of_birth.label }}
                    {{ form.date_of_birth() }}
                </div>
                <div class="form-group mb-3">
                    {{ form.phone_number.label }}
                    {{ form.phone_number() }}
                </div>
                <div class="d-flex justify-content-center">
                <p>{{ form.submit }}</p>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>