<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content="Sign in page of E-Learn-Shell project">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <title>{{ page_title }}</title>
  </head>
<body class="text-center">
    {% include 'menu.html' %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert-float" style="position: fixed; top: 0; left: 35%; right: 35%">
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <h1>Введите новый пароль</h1>
                <div class="col-3 mx-auto">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-3">
                            {{ form.password.label }}
                            {{ form.password(size=32) }}
                            {% for error in form.password.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password2.label }}
                            {{ form.password2(size=32) }}
                            {% for error in form.password2.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <p>{{ form.submit() }}</p>
                    </form>
                </div>
        </div>

        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"> </script> 
        <script type="text/javascript"> 
            setTimeout(function () { 
      
                // Closing the alert 
                $('.alert').alert('close'); 
            }, 2000); 
        </script> 
        </body>
    </html>