<div class='d-flex text-center'>
    <div id="carouselExampleIndicators" class="carousel slide text-center" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="width: 1540px; height: 700px">
            <img src="/static/slides/1.jpg" class="d-block mx-auto" style="width: 100%" alt="">
          </div>
          {% for slide in lesson.slides %}
          <div class="carousel-item" style="width: 1540px; height: 700px">
            <img src="{{ slide.link }}" class="d-block mx-auto" style="width: 100%" alt="...">
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>