<form action="{{url_for('process_test', question_id = question.id)}}" method='POST'>
    <div class="row">
        <div class="col-4">
            <div class="list-group mt-2">
                <h5>{{ question.question_text }}</h5>
                {% for answer in question.answers %}
                {% if not checked == [] %}
                <label class="list-group-item disabled">
                    <input class="form-check-input me-1" type="checkbox" name='answer' value="{{ answer.answer_text }}" aria-disabled="true">
                    {{ answer.answer_text }}
                </label>
                {% else %}
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" name='answer' value="{{ answer.answer_text }}" aria-label="...">
                    {{ answer.answer_text }}
                </label>
                {% endif %} 
                {% endfor %}
            </div>
        </div>
    </div>
    {% if not checked == [] %}
    <span class="text-success"><strong>Вы дали верный ответ! Правильный ответ: {{ question.correctanswer }}</strong></span>
     <li style='list-style: none'><button type="button" class="btn btn-success mt-2" disabled>Ответить</button></li>
    {% else %}
    <li style='list-style: none'><button class="btn btn-primary mt-2" type="submit"> Ответить </button></li>
    {% endif %}
</form>