<div class="row">
    <div class="col-6">
        <div class="card mt-3">
            <div class="card-body">
                <h4>{{ question.question_text }}</h4>
                    <form action="{{ url_for('process_writing', question_id = question.id, lesson_id=lesson.id) }}" method='POST'>
                        {{ form.hidden_tag() }}
                        {% if user_answer.query.filter(user_answer.user_id == current_user.id, user_answer.answer_status == 'correct', user_answer.lesson_id == lesson.id, user_answer.question_id == question.id).all() %}
                        <div class="form-group">
                            <input class="form-control" id="disabledInput" type="text" placeholder="Правильный ответ: {{ question.correctanswer }}" disabled>
                        </div>
                        <li style='list-style: none'><button type="button" class="btn btn-success mt-2" disabled>Ответить</button></li>
                        {% else %}
                        <div class="form-group">
                        {{ form.answer }}
                        </div>
                        <p>{{ form.submit }}</p>
                        {% endif %}
                    </form>
            </div>
        </div>
    </div>
</div>