<div class="row">
    <div class="col-6">
        <div class="card mt-2">
            <div class="card-body">
                <form action="{{ url_for('material.process_test', question_id = question.id, lesson_id = lesson.id, course_id = course.id) }}" method='POST'>
                    {% if question.answered(lesson.id, course.id) == 'answered' %}
                        <div class="list-group mt-2">
                            <h5>{{ question.question_text }}</h5>
                                    {% for answer in question.answervariants %}
                                    <label class="list-group-item disabled">
                                        <input class="form-check-input me-1" type="checkbox" name='answer' value="{{ answer.answer_text }}" aria-disabled="true">
                                        {{ answer.answer_text }}
                                    </label>
                                    {% endfor %}
                                </div>
                                <span class="text-success"><strong>Вы дали верный ответ! Правильный ответ: {{ question.correctanswer }}</strong></span>
                                <li style='list-style: none'><button type="button" class="btn btn-success mt-2" disabled>Ответить</button></li>
                    {% else %}
                        <div class="list-group mt-2">
                            <h5>{{ question.question_text }}</h5>
                            {% for answer in question.answervariants %}
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" name='answer' value="{{ answer.answer_text }}" aria-label="...">
                                {{ answer.answer_text }}
                            </label>
                            {% endfor %}
                        </div>
                        <li style='list-style: none'><button class="btn btn-primary mt-2" type="submit"> Ответить </button></li>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>