{% extends 'admin/master.html' %}


{% block body %}
    <h2>FAQ по разделам админки</h2>
    <h4><strong>User</strong> - пользователи веб приложения, внутри:</h4>
    <p><strong>Username</strong> - логин,имя пользователя в системе, в его качестве используется e-mail</p>
    <p><strong>Fio</strong> - Фамилия, имя и отчество пользователя, указанные при регистрации</p>
    <p><strong>Company</strong> - компания, в которой работает пользователь</p>
    <p><strong>Position</strong> - должность пользователя в указанной компании</p>
    <p><strong>Date_of_birth</strong> - дата рождения</p>
    <p><strong>Phone numbe</strong>r - номер телефона</p>
    <p><strong>Role</strong> - роль: пользователь(user) или админ(admin)</p>
    <p>При открытии для редактирования или создания, у пользователя(User) также будут два поля:</p>
    <p><strong>Courses</strong> - показывает, на какие курсы записался пользователь</p>
    <p><strong>User Answer</strong> - показывает, на какие вопросы ответил пользователь и как</br>
    </br></p>
    <h4><strong>Course</strong> - курсы, информация о них:</h4>
    <p><strong>Name</strong> - название курса(будет отражаться на главной странице)</p>
    <p><strong>Info</strong> - информация о курсе(будет отражаться на главной странице)</p>
    <p><strong>Conditions</strong> - условия для поступления курс, цена и пр.(будет отражаться на главной странице)</p>
    <p><strong>Content</strong> - содержание курса(будет отражаться после поступления пользователем на курс при переходе непосредственно в курс для занятий)</p>
    <p>При открытии для редактирования или создания, также появляется поле <strong>Lessons</strong> - показывает, какие уроки входят в этот курс, а также позволяет добавлять или удалять уроки.</br>
    </br></p>
    <h4><strong>Lesson</strong> - уроки, которые могут быть добавлны в курсы:</h4>
    <p><strong>Name</strong> - название урока</p>
    <p><strong>Material Type</strong> - на данный момент нужен лишь для того, чтобы показать, будет ли использоваться в материале элемент bootstrap carousel(листалка слайдов или изображений). Если он используется - указать slides, если нет - указать noslides.</p>
    <p><strong>Material</strong> - материал урока. В базе данных хранится с html-тегами, поэтому на данный момент для добавления элементов с других сайтов стоит сохранять непосредственно embed или iframe-ссылку, в тех элементах, в которых требуется непосредственное редактирование текста, встроен редактор<br />
    <br /></p>
    <p><strong>Questions to pass</strong> - указывает, на сколько вопросов необходимо ответить пользователю в конце урока, чтобы он считался пройденным в статистике его профиля.</p>
    <p>При открытии для редактирования или создания, также будут видны два поля:</p>
    <p><strong>Questions</strong> - позволяет выбрать и поставить в урок заранее созданный вопрос. В урок можно вставлять вопросы разных типов(открытые(open) - требуется вписать вариант ответа; и закрытые(closed) - требуется выбрать вариант ответа из предложенных)</p>
    <p><strong>Slides</strong> - выбор слайдов для отображения, если вы выбрали Material Type - slides. Слайды хранятся локально на сервере.</br>
    </br></p>
    <h4><strong>User_answer</strong> - здесь хранятся ответы пользователей на вопросы в конце урока:</h4>
    <p><strong>Users</strong> - пользователи</p>
    <p><strong>Questions</strong> - вопрос, на который был дан ответ</p>
    <p><strong>Lesson Id</strong> - Id урока, в котором есть этот вопрос</p>
    <p><strong>Lesson Name</strong> - название урока, в котором есть этот вопрос</p>
    <p><strong>User Answer</strong> - ответ пользователя</p>
    <p><strong>Answer Status</strong> - статус ответа пользователя, может быть correct или wrong</br>
    </br></p>
    <h4><strong>Question</strong> - показывает вопросы, которые можно вставить в уроки:</h4>
    <p><strong>Correctanswer</strong> - правильный ответ на поставленный вопрос</p>
    <p><strong>Question Text</strong> - текст вопроса</p>
    <p><strong>Question Type</strong> - тип вопроса(open - открытый, closed - закрытый)</p>
    <p>При открытии для редактирования или создания также становятся видны два поля:</p>
    <p><strong>Answervariants</strong> - варианты ответа для закрытых вопросов тестового типа, создаются отдельно в соответствующем разделе с аналогичным названием, можно выбрать любой к любому вопросу. Если вопрос открытого типа - оставлять пустым.</br>
    <p><strong>User Answers</strong> - можно увидеть какой пользователь и как ответил на данный вопрос, при необходимости удалить его ответ.</p>
    </br></p>
    <h4><strong>Answer Variant</strong> - раздел с вариантами ответа на тестовые вопросы:</h4>
    <p><strong>Answer Text</strong> - вариант ответа на вопрос. Редактируется только это поле.</br>
    </br></p>
{% endblock %}