<p>Здравствуйте {{ new_user.fio }}! Спасибо за регистрацию на нашем сайте. 
   Чтобы подтвердить свой аккаунт, нажмите на ссылку:</p>
<p><a href="{{ url_for('users.confirm_email', token=token, _external=True) }}">Ссылка для подтверждения</a></p>
<p>Если по каким-либо причинам ссылка выше не работает, вы можете вставить ее в адресную строку браузера:</p>
<p>{{ url_for('users.confirm_email', token=token, _external=True) }}</p>
<br>
<p>В случае, если оба способа не работают, обратитесь в нашу службу тех.поддержки</p>
<p>С уважением,</p>
<p>Команда E-Learn-Shell</p>